<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bun App</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <h1 id="h1" >Welcome to Bun!</h1>
    <button id="btn">Click Me</button>
    <script src="../public/main.js"></script>

    <script>

        const h1 = document.getElementById('h1')
        const btn = document.getElementById("btn")
        btn.addEventListener("click",() => {
            // alert("clicked button")
            h1.innerText = "The User Clicked me"
        })

    </script>
</body>
</html>
